Package: jp.r-plus.diclose
Name: Diclose
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: r_plus
Author: r_plus
Section: Tweaks
